
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid mt-1">
    <blockquote class="blockquote bq-warning">
        <p class="bq-title">Work In Progress</p>
        <p>
            Please visit sometime to see some of my updates. I just started creating this. Thank you for visiting. :)
        </p>
    </blockquote>
</div>