@model AspDotNetCoreDemo.Models.Account.RegisterViewModel

<div class="container">
    <div class="row align-self-center">
        <div class="col">
            <!-- Material form register -->
            <div class="card">

                <h5 class="card-header special-color-dark white-text text-center py-4">
                    <strong>Sign up</strong>
                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form asp-action="Register" class="text-center" style="color: #757575;">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <div class="col">
                                <!-- First name -->
                                <div class="md-form">
                                    <input type="text" asp-for="FirstName" class="form-control">
                                    <label asp-for="FirstName">First name</label>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Last name -->
                                <div class="md-form">
                                    <input type="text" asp-for="LastName" class="form-control">
                                    <label asp-for="LastName">Last name</label>
                                </div>
                            </div>
                        </div>

                        <!-- E-mail -->
                        <div class="md-form mt-0">
                            <input type="email" asp-for="Email" class="form-control">
                            <label asp-for="Email">E-mail</label>
                        </div>

                        <!-- Password -->
                        <div class="md-form">
                            <input type="password" asp-for="Password" class="form-control" aria-describedby="PasswordHelpBlock">
                            <label asp-for="Password">Password</label>
                            <small id="PasswordHelpBlock" class="form-text text-muted mb-4">
                                At least 8 characters and 1 digit
                            </small>
                        </div>

                        <!-- Sign up button -->
                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

                        <!-- Register -->
                        <p>
                            Already a member?
                            <a href="~/Account/Login">Login</a>
                        </p>

                        <div class="d-none">
                            <!-- Social register -->
                            <p>or sign up with:</p>

                            <a type="button" class="btn-floating btn-fb btn-sm">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a type="button" class="btn-floating btn-tw btn-sm">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a type="button" class="btn-floating btn-li btn-sm">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a type="button" class="btn-floating btn-git btn-sm">
                                <i class="fab fa-github"></i>
                            </a>

                            <hr>

                            <!-- Terms of service -->
                            <p>
                                By clicking
                                <em>Sign up</em> you agree to our
                                <a href="" target="_blank">terms of service</a>
                        </div>

                    </form>
                    <!-- Form -->

                </div>

            </div>
            <!-- Material form register -->
        </div>
    </div>
</div>